<form [formGroup]="addPostForm" (ngSubmit)="postForm(addPostForm.value)">
    <div style="text-align: center; margin-bottom: 0;" class="card-body form-group contBot">        
        <mat-form-field style="width: 75%;" appearance="fill">
            <mat-label>Texto</mat-label>
            <div class="contBot">
                <input formControlName="text" name="text" type="text" matInput required>
            </div>
        </mat-form-field>
        <div class="row contBot">
            <button class="bot" [disabled]="addPostForm.invalid" (click)="agregar()" mat-raised-button color="primary">
                Actualizar Publicacion
            </button>               
            
        </div> 
    </div>
</form>
<div style="text-align: center;">
    <button class="bot mat-focus-indicator mat-raised-button mat-button-base mat-warn" mat-button mat-dialog-close>Cancelar</button> 
</div>
