<h2 mat-dialog-title>Crear curso</h2>
<div mat-dialog-content>
    <form [formGroup]="addCourseForm" (ngSubmit)="postForm(addCourseForm.value)">
        <div class="card-body form-group">        
            <mat-form-field appearance="fill">
                <mat-label>Nombre del curso</mat-label>
                <input formControlName="name" [maxlength]="80" name="name" type="text" matInput required>
            </mat-form-field>  
            <mat-form-field appearance="fill">
                <mat-label>Fecha Inicio</mat-label>
                <input matInput formControlName="start_date" name="start_date" [matDatepicker]="picker1" readonly required>
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Nro de semanas</mat-label>
                <input matInput formControlName="weeks" name="weeks" min="1" max="52" type="number" required step="1" pattern="\d*">
            </mat-form-field>                              
            <div formArrayName="schedule" *ngFor="let s of schedule.controls; let i=index">
                <div [formGroupName]="i">
                    <div class="form-group row">
                        <mat-form-field class="col-md-3" appearance="fill">
                            <mat-label [attr.for]="'day'+i">Día</mat-label>
                            <mat-select  [attr.id]="'day'+i" formControlName="day" required>
                            <mat-option *ngFor="let dia of dias" [value]="dia.value">
                                {{dia.viewValue}}
                            </mat-option>
                            </mat-select>
                        </mat-form-field>  
                        <mat-form-field class="col-md-4" appearance="fill">
                            <mat-label [attr.for]="'start'+i">Hora Inicio</mat-label>
                            <mat-select id="{{'inicio'+i}}" (selectionChange)="selectDate(i, $event, 'inicio')" [attr.id]="'start'+i" formControlName="start" required>
                                <mat-option value="" selected>escoja un horario...</mat-option>
                                <mat-option *ngFor="let hora of horas1" [value]="hora.viewValue">
                                {{hora.viewValue}}
                            </mat-option>
                            </mat-select>
                        </mat-form-field>   
                        <mat-form-field class="col-md-4" appearance="fill">
                            <mat-label [attr.for]="'end'+i">Hora Fin</mat-label>
                            <mat-select id="{{'fin'+i}}" (selectionChange)="selectDate(i, $event, 'fin')" [attr.id]="'end'+i" formControlName="end" required>
                            <mat-option value="">escoja un horario...</mat-option>
                            <mat-option *ngFor="let hora of horas2" [value]="hora.viewValue">
                                {{hora.viewValue}}
                            </mat-option>
                            </mat-select>
                        </mat-form-field>  
                        <a *ngIf="i==0" mat-icon-button color="primary" (click)="agregarSchedule()"><mat-icon>add_circle_outline</mat-icon></a>
                        <a *ngIf="i>0" mat-icon-button color="warn" (click)="removerSchedule(i)"><mat-icon>remove_circle_outline</mat-icon></a>                                               
                    </div>
                </div>
            </div>
            <mat-form-field appearance="fill">
                <mat-label>Vacantes</mat-label>
                <input formControlName="vacancies" name="vacancies" min="0" type="number" matInput required step="1" pattern="\d*">
            </mat-form-field>  
            <mat-form-field appearance="fill">
                <mat-label>Agregue una breve descripción</mat-label>
                <textarea formControlName="desc" name="desc" matInput></textarea>
            </mat-form-field>
            <button [disabled]="addCourseForm.invalid" [mat-dialog-close]="true" (click)="postForm(addCourseForm.value)" mat-raised-button color="primary">
                Crear Curso
            </button>               
            <button mat-button mat-dialog-close [mat-dialog-close]="false">Cancelar</button>        
        </div>
    </form>
</div>
