<div class="body">
    <div class="Profile">
      <form (submit)="editar()">
        <h1>Editar perfil</h1>

        <div class="form-group">
  
          <mat-form-field appearance="fill">
            <mat-label>Institucion </mat-label>
            <input [(ngModel)]="formularioProfile.institution" name="institucion" type="text" matInput required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Telefono </mat-label>
            <input [(ngModel)]="formularioProfile.phone" name="telefono" type="text" matInput required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Nombre </mat-label>
            <input [(ngModel)]="formularioProfile.name" name="telefono" type="text" matInput required>
          </mat-form-field>
          <div class="form-group mt-3">
            <button (click)="closeDialog()"mat-raised-button color="primary">
                Actualizar
            </button>
            
          </div>
          
        </div>
        
<!--TODO: Agarrar los datos del profile y rellenar campos con ellos para que no te olvides tu nombre-->

        
        
      </form>
      <button id="btnCancelar" (click)="closeDialog()" mat-stroked-button color="primary">Cancelar</button>

      
      <!--<form (submit)="eliminar()">
        <button class="btn btn-primary">
            Eliminar
          </button>
      </form>-->

      
    </div>
  </div>