p
{
    font-size: medium;
    background-color: lightgreen;
    padding: 5px;
    width: fit-content;
    border-radius: 5px;
    margin:7px
}
.ownContainer
{
    justify-content: flex-end;
    
}
.ownMessage
{
    background-color: lightblue;
    align-self: flex-end;
    border-radius: 5px;
    padding: 5px;
    font-size: medium;
    margin:7px
}