<div>

    <mat-toolbar >
        <!--<button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
          </button>-->
        <span id="tedu" (click)="irTedu()" style="cursor: pointer;">Tedu</span>
        <!--Boton Cuenta-->
        <button id="btnCuenta" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="redirProfile()">
                <mat-icon>person</mat-icon>
                <span>Mi Perfil</span>
            </button>
            <button mat-menu-item (click)="LogOut()">
                <mat-icon>logout</mat-icon>
                <span>Cerrar Sesión</span>
            </button>
        </mat-menu>
        <!--Boton Notificacion-->
        <button  (click)="getUnseen()" (click)="updateNotifications()"   id="btnNotification" mat-icon-button [matMenuTriggerFor]="appMenu" aria-label="Example icon button with a menu icon">
            <mat-icon>notifications</mat-icon>
          </button>



          <mat-menu xPosition="before" #appMenu="matMenu">
                
                <div  style="padding: 5px; ">
                        {{notificationsRes}}
                        <div   *ngFor="let notification of notifications">
                          <p style="background-color: white; cursor: pointer;" 
                          (click)= "redirigirCurso(notification.comment!.post!.course!.id!.toString())" 
                          (click)="redirigirCurso(notification.post!.course!.id!.toString())">{{notification.text}}</p>
                        </div>
            
                    </div>
          </mat-menu>
    <!--Boton calendario-->
    <button (click)="redirCalendar()" id="btnCalendar" mat-icon-button aria-label="btn_calendar">
        <mat-icon>calendar_today</mat-icon>
      </button>
    </mat-toolbar>


</div>
<div style="width: 50%; margin: auto;">
<mat-card style="border-color: black; background-color:rgb(80, 115, 212); color: white">Conversando con:
    {{nombreDestino}}  </mat-card>
<mat-card-content style="background-color: rgb(237,237,237);">

    <div class="scroll-div" style="padding-bottom: 10px; margin-top: 7px;">
        <div *ngFor="let message of messages; let i=index">
            <div class="post-comment">
                <div class="box-footer box-comments">
                    <div class="box-comment">
                        <span class="username">
                            <div style="padding-top: 0px; padding-bottom: 0px; border-radius: 0px;">
                                <div *ngIf="i > 1" style="height: 0%;">
                                    <div style="height: 10%;" *ngIf="messages[i].sender.id.toString() != messages[i-1].sender.id.toString()">
    
                                    </div>
                                </div>
                                <span style="display:flex;"
                                    [ngClass]="{'ownContainer': message.receiver.id.toString() === myId}">
                                    <div class="row">

                                        <div class="col-sm">
                                            <div style= "font-size: medium;"
                                                [ngClass]="{'ownMessage': message.receiver.id.toString()===myId}" class="mens">
                                                <b>{{message.sender.name}}:</b> {{message.text}}

                                                <button style="height: 0px; line-height: 0px;"
                                                    *ngIf="myId == message.sender.id.toString()" mat-icon-button
                                                    [matMenuTriggerFor]="menu"
                                                    aria-label="Example icon-button with a menu">
                                                    <mat-icon>more_vert</mat-icon>
                                                    <mat-menu #menu="matMenu">

                                                        <button (click)="deleteMessage(message.id, message.files)" mat-menu-item>
                                                            <mat-icon>remove_circle</mat-icon><span>Eliminar
                                                                mensaje</span>
                                                        </button>
                                                    </mat-menu>
                                                </button>
                                                <mat-divider style="margin-right:10%;margin-left: 10%; width: 80%; margin-top: 10px;" *ngIf="message.files.length>0"></mat-divider>
                                                <div class="TLista" style="margin-top: 0px;" *ngIf="message.files.length>0">
                                                    <a><b>Archivos adjuntos:</b></a>
                                                </div>
                                                <div style="height: auto; overflow: hidden" class="fila" *ngFor="let file of message.files; let i=index">
                                                    <mat-divider style="width: 70%;" class="dividerArchivos" *ngIf="i!=0"></mat-divider>
                                                    <div class="listaArchivos elementoArchivos1"><a style="word-wrap: break-word;">•{{file.name}}</a></div>
                                                    <a class="elementoArchivos2" [attr.href]="file.key" [attr.download]="file.name" target="_blank"><mat-icon style="cursor: pointer;">cloud_download</mat-icon></a>
                                                </div>
                                            </div>
                                            
                                        </div>


                                    </div>
                                </span>
                            </div>
                        </span>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <mat-card-footer>
        <div class="box-footer-form">
            <form id="formul"[formGroup]="addMessageForm" (ngSubmit)="postFormMessage(addMessageForm.value)">
                <div class="card-body form-group img-push" style="padding-top:10px !important">
                    <div style="display: flex; padding-inline: 10px; height: 38px;">
                        <!--<mat-form-field style="width: 100%;" appearance="outline">
                            <mat-label  id="cajaMensaje" >Escribe un mensaje</mat-label>
                            <input  id="envMensaje" matInput formControlName="text" name="text" type="text">
                        </mat-form-field>-->
                        <input style="
                        display: inline-block; 
                        width: 100%; border-radius: 
                        5px; border: none;
                        background-color: rgba(0, 0, 0, 0.65);
                        color: #fff;
                        padding-inline: 10px;" id="envMensaje" class="prueba" formControlName="text" name="text" type="text" placeholder="Escribe un mensaje">
                        <button type="button" class="botonPrueba" (click)="clicArchivo()"><mat-icon class="iconoPrueba">attach_file</mat-icon></button>
                        <button type="submit" class="botonPrueba" onclick="document.getElementById('botonBypass').click()"><mat-icon class="iconoPrueba">send</mat-icon></button>
                    </div>
                    <div style="text-align: right; display: flex;">
                        <div style="width: 46%; text-align: left; margin-left: 1%;">
                            <div id="tNombres" class="TNombres"></div>
                            <div id="nombresArchivos" class="nombresArchivos">
                                <div *ngFor="let archivo of mArchivos">
                                    •{{archivo}}
                                </div> 
                            </div>
                        </div>
                        <input type="file" multiple="multiple" (change)="cambioArchivos($event)" id="archivos" style="display: none;" />
                        <!--<button type="button" (click)="clicArchivo()" style="margin-right: 1%; width: 25%;" color="basic" mat-raised-button color="primary">
                            Subir archivo
                            <mat-icon>attach_file</mat-icon>
                        </button>
                        <input type="file" multiple="multiple" (change)="cambioArchivos($event)" id="archivos" style="display: none;" />-->
                        <button type="submit" id="botonBypass" color="basic" mat-raised-button color="primary" style="width: 27%; display: none;">
                            Enviar mensaje
                            <mat-icon>send</mat-icon>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </mat-card-footer>
</mat-card-content>
</div>