<mat-card-content>
  <form id="form" onsubmit="return false;">
    <input type="number" id="idUsuario"/>
    <input style="position:absolute; top:50%; left:5%; width:40%;" type="submit" />
  </form>
    

  <div *ngFor="let message of messages">
      <div class="post-comment">
          <div class="box-footer box-comments">
              <div class="box-comment">
                      <span class="username">
                          {{message.text}} {{message.id}} &nbsp;
                          <mat-menu #menu="matMenu">

                          </mat-menu> 
                      </span>
                                                                                                                                                     
              </div>
          </div>                                                                                  
      </div>                   
  </div>                
</mat-card-content>