table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
.table{
  border-collapse: collapse;
  width: 100%;
  border: 1px solid;
  padding-top: 3em;
}  
#students_title{
  margin-top: 2em;
  font-weight: bold;
  font-size: 20px;
  font-family: Arial;
}
#teacher_title{
  margin-top: 1em;
  font-weight: bold;
  font-size: 20px;
  font-family: Arial;
}
.thead{
  font-size: 0.85em;
  font-weight: lighter;
}
mat-card{
  border-radius: 0%;
  margin-bottom: 1px;
}
.espacioBoton{
  margin-left: 0rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}