<div class="container contenedorAsistencias">
    <mat-list>
        <mat-list-item *ngFor='let asistencia of asistenciasGenerales'>
            <div class="columna1">
                <h2 class="asistencia">{{asistencia.attendance_date}}</h2>
            </div>
            <div class="columna2">
                <mat-icon style="cursor: pointer;" (click)="verAsistencia(asistencia.id)">visibility</mat-icon>
            </div>
            <mat-divider></mat-divider>
        </mat-list-item>
    </mat-list>
</div>
