.contenedorAsistencias{
    width: 50%; 
    justify-self: center;
}
.asistencia{
    margin-left: 0%;
    margin-right: 0%;
}
.columna1{
    float: left;
    width: 70%;
}
.columna2{
    float: left;
    width: 30%;
    text-align: right;
}
.col2E{
    margin-right: 5%;
}