<div>
    <div class="content-container">
        <mat-icon id="close-icon" (click)="closeDialog()">close</mat-icon>
        <span class="conten-span full-width">¿Seguro que quieres eliminar tu cuenta?</span>
    </div>
    <button (click)= "closeDialog()"id= "eliminar" class="btn btn-primary" style="background-color: blue;"  >
        CANCELAR
      </button>
        <button (click)="eliminar()"id= "eliminar" class="btn btn-primary" style="background-color: red; border-color: red;"  >
          ELIMINAR CUENTA
        </button>
    
      

</div>