<div class="body">
  <div class="login">
    <form (submit)="ingresar()">
      <div class="form-group">
        <img src="../../../assets/img/user.png" width="50%">

        <h1>Login</h1>
        <mat-form-field class="ancho" appearance="fill">
            <mat-label>Usuario</mat-label>
            <input type="text" [maxlength]="255" name="email" matInput autocomplete="off" [(ngModel)]="formularioLogin.email" class="form-control" placeholder="Email" autofocus required>
          </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="ancho" appearance="fill">
          <mat-label>Contraseña</mat-label>
          <input type="password" name="password" matInput autocomplete="off" [(ngModel)]="formularioLogin.password" class="form-control" placeholder="password" autofocus [type]="hide ? 'password' : 'text'" required>
          <mat-icon style="cursor: pointer;" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
      </div>
      <button type="submit" mat-raised-button color="primary" class="btn btn-primary btn-block" >
        Ingresar
      </button>
      <br>
      <br>
      <p style="color:tomato">¿No tiene una cuenta?</p>
      <button mat-raised-button color="primary" class="btn btn-primary btn-block" mat-button (click)="registrar()">Registrarse</button>
    </form>
  </div>
</div>
