<div class="body">
  <div class="login">
    <form (submit)="ingresar()">
      <div class="form-group">
        <input type="text" name="email" [(ngModel)]="formularioLogin.email" class="form-control" placeholder="Email" autofocus>
      </div>
      <div class="form-group">
        <input type="password" name="contraseña" [(ngModel)]="formularioLogin.password" class="form-control" placeholder="contraseña">
      </div>
      <button class="btn btn-primary btn-block">
        Enviar
      </button>
    </form>
  </div>
</div>
<img src="../../../assets/img/usuario.png" width="50%">
