.bot{
    width:50%;
    margin-right: 10%;
    margin-left: 10%;
    vertical-align: middle;
    justify-content: center;
}
.contBot{
    justify-content: center;
    align-content: center;
    align-items: center;
}
.centrado{
    align-self: center;
}
#inputFile{
    display: none;
}
.contenedorInputFile{
    margin-bottom: 3%;
}
.TNombres{
    padding-left: 15%;
    padding-right: 15%;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: left;
}
.TNombres div{
    text-align: left;
}
.nombresArchivos{
    text-align: left;
    padding-left: 15%;
    padding-right: 15%;
}
.nombresArchivos div{
    text-align: left;
}