<!--Toolbar-->
<p>
  <mat-toolbar >
    <!--<button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>-->
    <span id="tedu">Tedu</span>
    <!--Boton Cuenta-->
    <button id="btnCuenta" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="redirProfile()">
        <mat-icon>person</mat-icon>
        <span>Mi Perfil</span>
      </button>
      <button mat-menu-item (click)="LogOut()">
        <mat-icon>logout</mat-icon>      
        <span>Cerrar Sesión</span>
      </button>
    </mat-menu>    
    <!--Boton Notificacion-->
    <button id="btnNotification" mat-icon-button aria-label="Example icon button with a menu icon">
      <mat-icon>notifications</mat-icon>
    </button>
  </mat-toolbar>
</p>
<p >
  <mat-toolbar class="container" id="toolbar2">
    <!--Dialog Crear Curso-->
    <div class="container">
      <button mat-raised-button (click)="onCreate()">
        <mat-icon>add</mat-icon>Crear Curso
      </button>
    </div>
    <!--Input para unirse a curso -->
    <form [formGroup]="joinCourseForm" (ngSubmit)="postJoinForm(joinCourseForm.value)">
      <div class="card-body form-group">
        <mat-form-field id="InUnirCurso">
          <input formControlName="code" name="code" type="text" matInput  placeholder="Ingrese el código de curso">
        </mat-form-field>
        <button  mat-stroked-button color="primary">
          Unirse
        </button>
      </div>
    </form>
    
  </mat-toolbar>
</p>

<!--Ver cursos-->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container" id="main-container">
  <div class="row">
    <div *ngFor='let ownedCourses of courses | coursesArray' class="row">      
      <div *ngFor='let course of ownedCourses' class="col"> 
        <div class="card card-small" id="card-curso">
            <div class="thumbnail" id="card-curso">                        
              <a (click) = "entrarCurso(course?.id, course?.teacher.id)">
                <img alt="thumbnail" src=".\assets\img\curso.jpg">
              </a>                                           
            </div>
            <div *ngIf = "miId == course?.teacher.id+''">
              <button mat-button id="btnVerCodigo" (click)="onOpenModal(course,'verCodigo')">Ver Código</button>
            </div>
            <div class="card-info" (click) = "entrarCurso(course?.id, course?.teacher.id)">
                <div class="moving">
                    <a>
                        <h3>{{course.name}}</h3>
                        <p> {{course.desc}}</p>
                    </a>                         
                </div>
            </div>
            <div *ngIf = "miId == course?.teacher.id+''">
              <span class="float-right btn-group btn-group-sm">
                <button (click)="onOpenModal(course,'edit')" mat-icon-button color="primary" data-original-title="Edit">
                  <mat-icon>edit</mat-icon>
                </button>
                <button (click)="onOpenModal(course,'delete')" mat-icon-button color="warn" data-original-title="Delete">
                  <mat-icon>delete</mat-icon>
                </button>
              </span>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- Modal Editar-->
<div class="modal fade" id="updateCourseModal" tabindex="-1" aria-labelledby="courseEditModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateCourseModalLabel">Editar Curso</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm">
          <div class="form-group">
            <label for="name">Nombre curso</label>
            <input type="text" ngModel="{{editCourse?.name}}" name="name" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Nombre">
          </div>
          <input type="hidden" ngModel="{{editCourse?.id}}" name="id" class="form-control" id="id" placeholder="id">
          <div class="form-group">
            <label for="start_date">Fecha Inicio</label>
            <input type="text" ngModel="{{editCourse?.start_date}}" name="start_date" class="form-control" id="start_date"  placeholder="Fecha Inicio">
          </div> 
          <div class="form-group">
            <label for="weeks">Nro de semanas</label>
            <input type="number" ngModel="{{editCourse?.weeks}}" name="weeks" class="form-control" id="weeks"  placeholder="Nro semanas">
          </div>
          <div class="form-group">
            <label for="vacancies">Vacantes</label>
            <input type="number" ngModel="{{editCourse?.vacancies}}" name="vacancies" class="form-control" id="vacancies"  placeholder="Vacantes">
          </div>
          <div class="form-group">
            <label for="desc">Descripcion</label>
            <input type="text" ngModel="{{editCourse?.desc}}" name="desc" class="form-control" id="desc"  placeholder="Descripcion">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button (click)="onUpdateCourse(editForm.value.id,editForm.value)" data-dismiss="modal" type="button" class="btn btn-primary">Guardar cambios</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal Eliminar-->
<div class="modal fade" id="deleteCourseModal" tabindex="-1" aria-labelledby="courseDeleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteCourseModalLabel">Eliminar Curso</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>¿Está seguro que desea eliminar el curso {{deleteCourse?.name}}?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button (click)="onDeleteCourse(deleteCourse?.id)" data-dismiss="modal" class="btn btn-danger">Eliminar</button>
      </div>
    </div>
  </div>
</div>

<!--Modal ver Codigo-->
<div class="modal fade" id="verCodigoModal" tabindex="-1" aria-labelledby="courseEditModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <form #editForm="ngForm">
          <div class="form-group">
            <label for="name">Código de acceso al curso</label>
            <input disabled type="text" ngModel="{{codeCourse?.code}}" name="name" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Nombre">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>