#eliminar
{
    border-color: red;
}


h1{
    font-size: 2.5em;
    text-align: center;
  }
  #tedu{
    margin-left: 1.3em;
    font-size: 1.5em;
  }
  #btnCuenta{
      position: absolute; right: 0;
      margin-right: 3em;
  
  }
  #btnNotification{
      position: absolute; right: 0;
      margin-right: 7em;
  }
  .card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card-body mat-form-field{
    width: 25em;
  }
  #btnCancelar{
    margin-left: 10px;
  }
  .carta-perfil
  {
    padding: 1%;
    
  }
  #btnCalendar{
    position: absolute; right: 0;
    margin-right: 11em;
  }
