

  <mat-toolbar>
      <!--<button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>-->
      <span id="tedu" (click)="irTedu()">Tedu</span>
      <!--Boton Cuenta-->
      <button id="btnCuenta" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="redirProfile()">
              <mat-icon>person</mat-icon>
              <span>Mi Perfil</span>
          </button>
          <button mat-menu-item (click)="LogOut()">
              <mat-icon>logout</mat-icon>
              <span>Cerrar Sesión</span>
          </button>
      </mat-menu>
      <!--Boton Notificacion-->
      <button (click)="getUnseen()" (click)="updateNotifications()" id="btnNotification" mat-icon-button [matMenuTriggerFor]="appMenu" aria-label="Example icon button with a menu icon">
          <mat-icon>notifications</mat-icon>
        </button>
        <mat-menu xPosition="before" #appMenu="matMenu">
              
          <div  style="padding: 5px;  ">
            {{notificationsRes}}
                      <div *ngFor="let notification of notifications">
                         <p>{{notification.text}} </p> 
                      </div>
          </div>

        </mat-menu>
  </mat-toolbar>


<div  class="body">
  <div id="form-profile"  class="card container mt-3">
    <h1 class="card-header mt-3">Perfil</h1>
    <div class="Profile">
      <div id="cartas">
        <div id="card-profile" class="carta-perfil">
          <mat-card>Institución educativa: {{perfil.institution}}</mat-card>
        </div>
        <div id="card-profile" class="carta-perfil">
          <mat-card>Número telefónico: {{perfil.phone}}</mat-card>
        </div>
        <div id="card-profile" class="carta-perfil">
          <mat-card>Nombre: {{perfil.name}}</mat-card>
        </div>
      </div>
      
      <mat-card-actions align="end">
        <button mat-raised-button color="primary" class="btn btn-primary "  mat-button (click)="openDialog()">Editar perfil</button>
        <form (submit)="eliminar()">
          <button id= "eliminar" class="btn btn-primary" style="background-color: red;">Eliminar cuenta</button>

            
      

  



          
          <!--<div><mat-label>Institucion educativa: {{perfil.institution}}</mat-label><br>
          <mat-label>Numero telefonico: {{perfil.phone}}</mat-label><br>
          <mat-label>Nombre: {{perfil.name}}</mat-label></div>
          -->
</form>
</mat-card-actions>
</div>          
  </div>
</div>        
 
      

     
