<div class="container contenedormain">
  <p>
    <mat-toolbar class="container" id="toolbar2">
        <!--Dialog Crear Curso-->
        <div class="container">
          <button mat-raised-button (click)="popupCreate()">
            <mat-icon>add</mat-icon>Crear publicacion
          </button>
        </div>
    </mat-toolbar>
</p>
<!--Posts-->
<div class="row">
    <div *ngFor="let post of posts" layout-align="center center" class="contenedor">
        <mat-card class="box example-card row">
            <mat-card-header class="box-header">
            <div class="user-block">
                    <img class="img-circle" src=".\assets\img\user.png" alt="User Image">
                    <mat-card-title class="username">{{post.user.name}}</mat-card-title>
                    <mat-card-subtitle class="description">{{post.created | date:'medium'}}</mat-card-subtitle>
                </div>
                <div class="box-tools">
                    <span><img stlye="margin-left=80px;" width="20px" height="auto"  class="estrella" *ngIf="post.qualified==true" src="../../../assets/img/star.png"></span>
                    <mat-checkbox  style="margin-top: 10px;" #c *ngIf="myId==pId && myId!= post.user.id+''" (click)="updatePostQualification(post.id+'', !c.checked)"   [checked]=post.qualified> Calificar </mat-checkbox> 
                    <button class="boton" *ngIf="post.user.id + '' == myId" (click)="popupUpdate(post.id+'')" mat-icon-button color="primary" data-original-title="Edit"><mat-icon>edit</mat-icon></button>
                    <button class="boton" *ngIf="post.user.id + '' == myId || myId == pId" (click)="eliminarPost(post.id,post.files)" mat-icon-button color="warn" data-original-title="Delete"><mat-icon >delete</mat-icon></button>
                </div>
            </mat-card-header>            
            <mat-card-content class="post-content">
                <p style="word-wrap: break-word;">{{post.text}}</p>
                <mat-divider style="margin-right:3%;margin-left: 3%; width: 94%;" *ngIf="post.files.length>0"></mat-divider>
                <div class="TLista">
                    <a *ngIf="post.files.length>0">Lista de archivos anexados:</a>
                </div>
                <div style="height: auto; overflow: hidden" class="fila" *ngFor="let file of post.files; let i=index">
                    <mat-divider style="width: 80%;" class="dividerArchivos" *ngIf="i!=0"></mat-divider>
                    <div class="listaArchivos elementoArchivos1"><a style="word-wrap: break-word;">•{{file.name}}</a></div>
                    <div class="elementoArchivos2"><mat-icon style="cursor: pointer;" (click)="accederArchivo(file.key)">cloud_download</mat-icon></div>
                </div>
            </mat-card-content>
                                                  
            <mat-card-actions align="end">
                <span class="pull-right text-muted"><a type="button" (click)="getComments(post.id+'')">Ver comentarios</a></span>
            </mat-card-actions>
            <!--comentarios del post-->
            <mat-card-content *ngIf="post.id+'' == idPost">
                <div *ngFor="let comment of comments">
                    <div class="post-comment">
                        <div class="box-footer box-comments">
                            <div class="box-comment">
                                    <span class="username">
                                        {{comment.user.name}} &nbsp; <span class="fecha_coment">{{comment.created | date:'medium'}}</span>
                                        <a *ngIf="comment.user.id + '' == myId || pId == myId" class="pull-right" mat-button [matMenuTriggerFor]="menu"><mat-icon>more_horiz</mat-icon></a>
                                        <mat-menu #menu="matMenu">
                                            <button *ngIf="comment.user.id+'' == myId" (click)="editInputComment(comment.id)" mat-menu-item>Editar</button>
                                            <button (click)="deleteComment(post.id+'',comment.id)" mat-menu-item>Eliminar</button>
                                        </mat-menu> 
                                    </span>
                                    <div *ngIf="shouldRun">
                                        <form  [formGroup]="editForm" class="mat-form-field" *ngIf="comment.id+'' == idComment">
                                            <mat-form-field appearance="outline">
                                                <input type="text" ngModel="{{comment?.text}}" name="text" formControlName="text" id="text" matInput>
                                            </mat-form-field>
                                            <div class="mt-3">                                                
                                                <button mat-button color="primary" (click)="editComment(editForm.value,post.id+'',comment.id)">Actualizar</button>&nbsp;
                                                <button mat-button (click)="cancelUpdate()">Cancelar</button>
                                            </div>
                                        </form>                                                                                                 
                                    </div>     
                                    <p *ngIf="comment.id+'' != idComment">{{comment.text}}</p>   
                                    <div id="estrellita">

                                        <mat-checkbox  style="margin-left: 5px;" #c *ngIf="myId == pId && myId!= comment.user.id+''" (click)="updateCommentQualification(post.id+'', comment.id, !c.checked)" [checked]=comment.qualified> Calificar </mat-checkbox> 
                                        <span><img  class="estrellita" *ngIf="comment.qualified==true" src="../../../assets/img/star.png"></span>

                                    </div>                                                                                                                                    
                            </div>
                        </div>                                                                                  
                    </div>                   
                </div>                
            </mat-card-content>
            <mat-divider inset></mat-divider>
            <!--form enviar comentario-->
            <mat-card-footer>
                <div class="box-footer-form">                  
                  <form [formGroup]="addCommentForm" (ngSubmit)="postFormComment(addCommentForm.value,post.id+'')">
                    <div class="card-body form-group img-push">
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Escribe un comentario</mat-label>
                                <input matInput formControlName="text" name="text" type="text">
                            </mat-form-field>
                        </div>
                        <div>
                            <button type="submit" class="btn-comentar pull-right" color="basic"  mat-raised-button color="primary">
                                Comentar
                            </button>
                        </div>
                    </div>                            
                </form>
                </div>
            </mat-card-footer>
        </mat-card>
    </div>
</div>
</div>