.example-card {
    width: 400px;
  }
.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.contenedormain{
    padding-bottom: 2em;
}    
#tedu{
    font-size: 1.5em;
  }
#btnCuenta{
    position: absolute; right: 0;
    margin-right: 3em;

}
#btnNotification{
    position: absolute; right: 0;
    margin-right: 7em;
}
.example-spacer {
  flex: 1 1 auto;
}  
#toolbar2 {
  background-color: white;
}
body{
  
  background: #FFFFFF;
}
.boton{
  width: 35px;
  float:right;
}
