<div class="container contenedormain">
  <p>
    <mat-toolbar class="container" id="toolbar2">
        <!--Dialog Crear Curso-->
        <div class="container">
          <button mat-raised-button (click)="popupCreate()">
            <mat-icon>add</mat-icon>Crear publicacion
          </button>
        </div>
    </mat-toolbar>
</p>
    <div class="row">
        <div *ngFor="let post of posts" layout-align="center center" class="contenedor">
            <mat-card class="example-card row example-card" >
                <mat-card-header>
                    <mat-card-title>{{post.user.name}}</mat-card-title>
                    <mat-card-subtitle>Fecha publicado: {{post.created}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        {{post.text}}
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>