#btnCuenta{
    position: absolute; right: 0;
    margin-right: 3em;

}
#btnNotification{
    position: absolute; right: 0;
    margin-right: 7em;
}
.example-spacer {
  flex: 1 1 auto;
}  
#toolbar2 {
  background-color: white;
}
body{
  
  background: #FFFFFF;
}
#tedu{
    font-size: 1.5em;
}