<div style="text-align: center;" class="card-body form-group">        
    <div>
        <mat-list id="lista" *ngFor="let st of students; let i=index">
            <mat-list-item>
                <mat-divider></mat-divider>
                <div class="columna1">
                    {{i+1}}
                </div>
                <div class="columna2">
                    {{st.name}}
                </div>
                <mat-checkbox #c (click)="actualizarCheckbox(!c.checked, i)"></mat-checkbox>
            </mat-list-item>
        </mat-list>
    </div>
    <div class="row contBot">
        <button class="bot mat-warn mat-button-base" mat-button mat-dialog-close>Cerrar</button>
        <button *ngIf="incompleto==false" (click)="registrarAsistencia()" class="bot mat-button-base mat-primary" mat-button>Registrar</button>
        <button *ngIf="incompleto==true" (click)="reRegistrarAsistencia()" class="bot mat-button-base mat-primary" mat-button>Volver a registrar</button>
    </div> 
</div>